body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f9f9f9;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgba(51, 51, 51, 0.01); 
    color: white;
    width: 95%; 
    position: fixed; 
    top: 0;
    left: 0;
    z-index: 1000; 
    transition: top 0.3s; 
}

header.hidden {
    top: -80px; 
}

header .logo img {
    width: 50px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.banner {
    text-align: center;
    padding: 100px 20px; 
    background: url('banner.jpg') no-repeat center center/cover;
    color: white;
    width: 97.3%;
    height: 578px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0; 
    margin-bottom: 0; 
}

.banner h1 {
    margin: 0;
    font-size: 3em; 
}

.banner p {
    margin: 10px 0 0;
    font-size: 1.2em; 
}

.nama-kelas {
    padding: 40px 20px;
    background-color: #fff; 
    text-align: center;
}

.nama-kelas h2 {
    margin-bottom: 20px;
    font-size: 2em;
    color: #333;
}

.kelas {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.kategori {
    flex: 1;
    margin: 10px;
    padding: 20px;
    max-width: 300px;
    background-color: #e4e4e4;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.kategori .icon {
    width: 70px;
    height: 70px;
    margin-bottom: 10px;
    border-radius: 50%;
    display: inline-block;
}

.kategori p {
    margin: 0;
    font-size: 1.1em;
    color: #333;
}

.contact {
    padding: 40px 20px;
    background-color: white;
}

.contact h2 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 2em;
    color: #333;
}

.form-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

form {
    background-color: #e4e4e4; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-right: 20px;
    flex: 1;
    min-width: 300px; 
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form input[type="text"],
form input[type="date"],
form textarea {
    width: calc(100% - 10px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form .gender {
    display: flex;
    align-items: center;
}

form .gender input {
    margin-right: 5px;
}

form button {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #555;
}

.current-info {
    background-color: #e4e4e4;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex: 1;
    min-width: 300px; 
}

.current-info p {
    margin: 10px 0;
    font-size: 1.1em;
    color: #333;
}

#backToTop {
    display: none; 
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100; 
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1em;
}

#backToTop:hover {
    background-color: #555;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 0;
}


.footer-bottom {
    text-align: center;
    padding-top: 10px;
    background-color: #222;
    color: #fff;
}


@media (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
        transition: top 0.3s; 
    }
    
    header.hidden {
        top:-80px;
        display: none;
    }

    nav ul {
        flex-direction: column;
        margin-top: 10px;
    }

    nav ul li {
        margin: 10px 0;
    }

    .form-container {
        flex-direction: column;
    }

    form {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .current-info {
        margin-left: 0;
    }
}
